<%- include('partials/header'); -%>

<form action="/signup">
  <h2>Sign up</h2>
  <label for="email">Email</label>
  <input type="text" name="email" id="email" required />
  <div class="email error"></div>
  <label for="hid">ID</label>
  <input type="text" name="hid" id="hid" required />
  <div class="password error"></div>
  <button>Sign up</button>
</form>

<%- include('partials/footer'); -%>

<script>
  const form = document.querySelector("form");
  const emailError = document.querySelector(".email.error");
  const passwordError = document.querySelector(".password.error");

  form.addEventListener("submit", async (e) => {
    e.preventDefault();

    // reset errors
    // emailError.textContent = "";
    // passwordError.textContent = "";

    // get values
    const email = form.email.value;
    const hid = form.hid.value;

    try {
      const res = await fetch("/signAdminup", {
        method: "POST",
        body: JSON.stringify({ email, hid }),
        headers: { "Content-Type": "application/json" },
      });
      const data = await res.json();
      console.log(data);
      if (data.errors) {
        emailError.textContent = data.errors.email;
        passwordError.textContent = data.errors.password;
      }
      if (data.user) {
        location.assign("/dataAdm");
      }
    } catch (err) {
      console.log(err);
    }
  });
</script>
